<!doctype html>
<html>
 <head>
  <title>Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/job.js"></script>
 </head>
 <body>
  <div class="content container">
    <div class="row">
      <div class="col-10">
        <h1 class="text-uppercase">
          {{company}}
          <small class="text-muted">{{department}} {{group}}</small>
        </h1>
      </div>
      <div class="col">
        <a class="btn btn-info" style="border-top-left-radius:0; border-top-right-radius:0;" data-toggle="collapse" href="#feeder-info" aria-expanded="false" aria-controls="feeder-info">
          Data Source Info
        </a>
      </div>
    </div>
    <div class="collapse mb-3" id="feeder-info">
      <div class="list-group">
        <div class="list-group-item list-group-item-light">
          Feeders: <span class="font-italic">{{feeders|join(', ')}}</span>
        </div>
        <div class="list-group-item list-group-item-light">
          Agents:  <span class="font-italic">{{agents|join(', ')}}</span>
        </div>
      </div>
    </div>
    <form method="POST">
      <div>
        {% for inp in inputs %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{inp}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="{{inp}}"/>
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"/>Submit</button>
      </div>
    </form>
    {% if job %}
    <h3 class="mt-5">Result:</h3>
    <div class="result">
      Please wait while loading...
    </div>
    <script>
      job.loadDom(".result", "/api/job/{{job}}?dom");
    </script>
    {% endif %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
 </body>
</html>
