<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/job.js"></script>
  <title>Search</title>
 </head>
 <body>
  <div class="content">
    <h1>{{company}}</h1>
    <h2>{{department}}</h2>
    <h3>{{group}}</h3>
    <p>Feeders: {{feeders|join(', ')}}</p>
    <p>Agents:  {{agents|join(', ')}}</p>
    <form method="POST">
      {% for inp in inputs %}
        <div class="key-value-row">
          <label>{{inp}}</label>
          <input type="text" name="{{inp}}"/>
        </div>
      {% endfor %}
      <input type="submit"/>
    </form>
    {% if job %}
    <h3>Result:</h3>
    <div class="result key-value">
      Please wait while loading...
    </div>
    <script>
      job.loadDom(".result", "/api/job/{{job}}?dom");
    </script>
    {% endif %}
  </div>
 </body>
</html>
